/**********************
 * Quinn Clarke-Magrab
 * COMP 20
 * Assignment 1
 **********************/
 body {
 	background-color: #8d9db6;
 }

 h2 {
 	margin: 15px 400px;
 	text-align: center;
 	background-color: #f1e3dd;
 	font-family: "Courier New";
 	padding: 20px;
 	color: #667292;
 	border: solid;
 	border-width: 5px;
 	border-color: #667292;
 }

 p {
 	font-family: "Courier New";
 	padding: 50px;
 	margin: -50px 100px;
 	font-size: 20px;
 	color: #667292;
 	background-color: #f1e3dd;
 	border: solid;
 	border-width: 5px;
 	border-color: #667292;
 }

 p:hover {
 	background-color: #8d9db6;
 }

 #selfie {
 	display: block;
 	text-align: center;
 	height: 450px;
 	margin-left: auto; 
 	margin-right: auto;
 }

/*#background {
	background-image: url("me.jpg");
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}*/

#left {
	text-align: center;
	width: 50%;
	float: left;
	padding-top: 100px;
	padding-bottom: 100px; 
}

#right {
	text-align: center;
	margin-left: 50%;
	padding-top: 100px;
	padding-bottom: 100px; 
}

.clear {
	clear: both;
}